:root {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  color: #a4bec5;
  line-height: 20.8px;
  font-size: 13px;
}

body {
  margin: 0 auto;
  max-width: 500px;
  background-color: #141516; 
}

header { 
  margin: 3em 0 2em 0;
}

header a {
  text-decoration: none;
  font-weight: bold;
}

time {
  display: block;
}

p.links a {
  margin: 0 .5em 0 0;
}

.post a {
  text-decoration: none;
}

.muted {
  color: #95aeb49c;
}

.post {
  margin: 0 0 1.5em 0;
}

hr {
  border: none;
  border-top: 1px dashed #badae229;
  margin: 2em 0 2em 0;
}

footer {
  margin: 2em 0;
}

img,
picture {
  max-width: 100%;
  display: block;
  margin: 8px 0;
}

pre {
  overflow: scroll;
  background-color: #badae229;
}

blockquote {
  margin: 1em 0;
  padding: 0 1em;
  border-left: 3px solid #badae229;
}

p {
  margin: 0 0 1em 0;
}

h1,h2,h3,h4 {
  margin: 1em 0 .5em 0;
  color: #a4bec5;
}

ul {
  margin: 0 0 0 1em;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

/* Responsive CSS for mobile */
@media (max-width: 600px) {
  * {
    max-width: 100%;
  }

  nav ul li {
    display: block;
    padding-right: 0;
    margin-bottom: 0.5em;
  }

  .post,
  footer {
    margin: 1em 0;
  }
}
