<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
    <title>{{ title }}</title>
    {% if summary %}<meta name="description" content="{{ summary }}" />{% endif %}
  </head>
  <body>
    {% include "partials/head.html" %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.html" %}
  </body>
</html>
