---
title: Explore
summary: A list of all pages on this website.
layout: layouts/page.html
permalink: /explore/
eleventyExcludeFromCollections: true
---

{% for item in collections.page | sort(attribute="data.title") %}
<a href="{{ item.url }}">{{ item.data.title }}</a>
<p class="muted">
  {{ item.data.summary }}
</p>
{% endfor %}