---
title: Explore
summary: A list of all pages on this website.
layout: layouts/page.html
permalink: /explore/
eleventyExcludeFromCollections: true
---

{% for page in collections.page | sort(attribute="data.title") %}
<a href="{{ page.url }}">{{ page.data.title }}</a>
<p class="muted">
  {{ page.data.summary }}
</p>
{% endfor %}