--- 
layout: layouts/page.html
permalink: /gallery/
title: Gallery
summary: Some of the photos I have taken over the years.
---
<ul id="gallery">
  {% for image in collections.gallery %}
    <img class="item" src="{{ image.src }}" width="{{ image.width }}" height="{{ image.height }}" title="{{ image.name}}" alt="{{ image.name}}" />
  {% endfor %}
</ul>