--- 
layout: layouts/page.html
permalink: /photography/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% else %}index.html{% endif %}
title: Photography
summary: Some of the photos I have taken over the years.
pagination:
  data: collections.gallery
  size: 30
  alias: paginatedImages
---
<ul class="gallery">
  {% for image in paginatedImages %}
    <img class="item" src="{{ image.src }}" width="{{ image.width }}" height="{{ image.height }}" title="{{ image.name }}" alt="{{ image.name }}" />
  {% endfor %}
</ul>

{% if pagination.href.previous or pagination.href.next %}
  <div class="pagination">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}" class="previous">Previous</a>
    {% endif %}
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}" class="next">Next</a>
    {% endif %}
  </div>
{% endif %}