---
pagination:
  data: collections.tagsList
  size: 1
  alias: tag
permalink: /topics/{{ tag | slug }}/index.html
layout: layouts/page.html
eleventyExcludeFromCollections: true
---

<h1>Topics / {{ tag }}</h1>
<section class="posts">
  <ul>
  {% for post in collections.posts | filterByTag(tag) | reverse %}
    <li>
      <time class="muted" datetime="{{ post.date | postDate }}">
        {{ post.date | postDate }}
      </time>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
  {%- endfor -%}
  </ul>
</div>