<!-- TODO: make this more simple -->

<header role="banner" class="head">
  <h1>{{ title }}</h1>
  <div class="wrapper">
    <div class="head__inner">
      <nav class="nav" aria-label="Primary">
        <ul class="nav__list" role="list">
          <li>
            <a href="/">home</a>
          </li>
          <li>
            <a href="/now">now</a>
          </li>
          <li>
            <a href="/blog">blog</a>
          </li>
          <li>
            <a href="/uses">uses</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>